* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Caesar Dressing Cyrillic";
    src: url(/fonts/caesardressingcyrillic.otf);
}

@font-face {
    font-family: "Advent Pro";
    src: url(/fonts/AdventPro-VariableFont_wdth\,wght.ttf);
}


body {
    font-family: "Advent Pro", sans-serif;
    letter-spacing: 0.09em;
    line-height: 31px;
    color: var(--text-color);
}

:root {
    --text-color: #423D3D;
    --accent: #689F38;
    --second-color: #E0ECEF;
    --white: #FFFFFF;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;
}

.logo--header img {
    width: 66px;
    padding: 20px 0;
}

.logo--header a {
    display: flex;
}

.btn--share {
    padding: 6px 24px;
    background-color: var(--accent);
    border-radius: 30px;
    font-size: 20px;
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
}

.user-icon {
    display: flex;
}


.menu {
    display: flex;
    align-items: center;
    /* gap: 60px; */
}

/* .menu:last-child {
    
} */

.menu li {
    list-style: none;
}

.menu li:nth-child(-n+3) {
    margin-right: 60px;
}

.menu li:last-child {
    margin-left: 20px;
}
.link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    transition: 0.8s;
}

.link:hover {
    color: var(--accent);
}


.intro {
    background: url(../img/intro.jpg) center no-repeat;
    background-size: cover;
    padding: 318px 0 318px 0;
    
}

.intro--block {
    text-align: center;
    color: var(--white);
}






.main--title {
    font-family: "Caesar Dressing Cyrillic";
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 0.09em;
    line-height: 87px;
    /* padding-top: 251px; */
}

.text--intro {
    font-size: 40px;
}





/* about */

.title {
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.accent {
    color: var(--accent);
}

.block--about {
    display: flex;
    justify-content: center;
    gap: 53px;
    align-items: center;
}

.text--about {
    font-size: 26px;
    max-width: 727px;
    
}

.btn--wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: var(--accent);
    border-radius: 30px;
    width: 244px;
    margin: 0 auto;
    padding: 20px 30px;
    margin-top: 50px;
}

.btn--wrap a {
    text-decoration: none;
    color: var(--white);
    font-size: 22px;
}

/* works */

.box--works {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.item--works {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text--works {
    font-size: 26px;
    max-width: 499px;
}

.parking {
    max-width: 445px;
    text-align: right;
}

.btn--work {
    width: 268px;
}

/* advatages */

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 433px 433px;
    gap: 30px 20px;
}

.item--grid {
    background-color: rgb(224, 236, 239, 75%);
    border-radius: 20px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title--item {
    color: var(--accent);
    font-size: 26px;
    font-weight: 500;
    padding-top: 10px;
}

.text--item {
    max-width: 333px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;

}

.item--grid:nth-child(2) .text--item {
    max-width: 297px;
}

/* share */

.share--form .container h2 {
    padding-bottom: 20px;
}


.share--text {
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    max-width: 800px;
    padding-bottom: 20px;
}

form {
    width: 810px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}



/* #file {

} */

label {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 22px;
    font-weight: 500;
}

input {
    background-color: var(--second-color);
    border-radius: 15px;
    border: none;
    height: 50px;
    padding: 15px 20px;
    font-family: "Advent Pro";
    font-size: 20px;
    color: var(--text-color);
}

.wrap-inputs {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.item-input {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 385px;
}



#btn--submit {
    font-size: 22px;
    color: var(--white);
    background-color: var(--accent);
    font-family: "Advent Pro";
    width: 194px;
    padding: 0;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
}

::file-selector-button {
    background-color: var(--second-color);
    border: none;
    font-family: "Advent Pro";
    font-size: 18px;
    color: #a4a1a1;
    display: none;
}

#desc {
    background-color: var(--second-color);
    border-radius: 15px;
    border: none;
    height: 50px;
    padding: 15px 20px;
    font-family: "Advent Pro";
    font-size: 20px;
    color: var(--text-color);
    height: 162px;
    resize: none;
}



/* footer */

footer {
    background-color: var(--accent);
    /* display: flex; */
    margin-top: 100px;
    padding: 20px 0;
}

.container--footer {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 69px;   
}

.logo p {
    font-family: "Caesar Dressing Cyrillic";
    font-size: 24px;
    max-width: 169px;
    color: var(--second-color);
    margin-left: 17px;
}

.footer--nav {
    text-align: center;
}

.footer--title {
    font-size: 22px;
    color: var(--text-color);
    font-weight: 500;
}

.menu--footer li {
    list-style: none;
}
.menu--footer li a {
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    transition: 0.8s;
}
.menu--footer li a:hover {
    color: var(--text-color);
}

.contact {
    text-align: right;
}

.info {
    font-size: 20px;
    color: var(--white);
}

.info a {
    display: block;
    color: var(--white);
    text-decoration: none;
}

/* HISTORY PAGE */

.title--pages h2 {
    font-family: "Caesar Dressing Cyrillic";
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 0.09em;
    line-height: 87px;
    color: var(--white);
    /* text-align: center; */
}

.title--pages {
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px;
    margin-bottom: 50px;
}

.grid--history {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

.item--content {
    letter-spacing: 0.09em;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 36px;
}

.subtitle--content {
    font-size: 30px;
    font-weight: 600;
    color: var(--accent);
}

.text--content {
    font-size: 26px;
    text-align: justify;
}




.additional {
    line-height: 24px;
    font-size: 20px;
}

.content img {
    margin-bottom: 30px;
}

/* sidebar */

.sidebar {
    width: 300px;
    padding: 20px 25px;
    background-color: var(--second-color);
    border-radius: 15px;
    height: 866px;
}

.title--sidebar {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
    color: var(--accent);   
}

.list--sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list--sidebar li {
    list-style-type: none;
}

.list--sidebar li a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    width: 240px;
    line-height: 29px;
    color: var(--text-color);
    transition: 0.7s;
}

.list--sidebar li a:hover {
    color: var(--accent);
}

/* ARTICLES PAGE */

.box--articles {

}

.list--anchors {
    display: flex; 
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.list--anchors li {
    list-style-type: none;
}

.list--anchors li a {
    font-size: 26px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.7s;
}

.box--articles {
    display: flex;
    align-items: center;
    gap: 90px;
}

.list--anchors li a:hover {
    color: var(--accent);
}

/* WORKS PAGE */
.box--intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

.intro--works {
    background: url(../img/works_intro.jpg) no-repeat center;
    background-size: cover;
    padding: 175px 0;
}

.title--intro {
font-family: 'Caesar Dressing Cyrillic';
font-weight: 400;
font-size: 64px;
line-height: 78px;
text-align: center;
letter-spacing: 0.09em;
max-width: 828px;
color: var(--white);


}

.btn--intro {
    text-align: center;
    background-color: var(--white);
    border-radius: 30px;
    padding: 13px 53px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
}

.world, .russia:not(:first-child) {
    display: flex;
    flex-direction: column;
}

.item--world:nth-child(even) {
    flex-direction: row; 
    text-align: right;
}

.item--world:nth-child(odd) {
    flex-direction: row-reverse; 
}


.item--russia:nth-child(even) {
    flex-direction: row; 
    text-align: right;
}

.item--russia:nth-child(odd) {
    flex-direction: row-reverse; 
}

.item--world, .item--russia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.wrap--text {
    flex: 1;
}

.wrap--text {
    max-width: 500px;
}
.subtitle-world, .subtitle-russia {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.09em;
    color: var(--text-color);
    margin-bottom: 15px;

}

.text--world, .text--russia  {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.09em;
    color: var(--text-color);
}



.item--world, .item--russia {
margin-bottom: 50px;
}

.item--world:last-child,
.item--russia:last-child {
    margin-bottom: 0;
}

.auth {
    max-width: 385px;
}

/* PROFILE PAGE */

.profile {
}
.box-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.img--profile {
    width: 200px;
    height: 200px;
    background-color: var(--second-color);
    border-radius: 20px;
    border: none;
}
.infoblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  15px 50px;
}
.it--infoblock {
    display: flex;
    flex-direction: column;
        color: var(--text-color);
}

.it-name {
    font-weight: 500;
}

.line {
    background-color: var(--text-color);
    width: 300px;
    height: 1px;
    margin-top: 3px;
}



/* бургер */
/* Бургер-меню */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 3px 0;
    transition: 0.3s;
    border-radius: 2px;
}

/* Анимация бургера при открытии */
.burger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Мобильное меню */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    z-index: 999;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mobile-menu.active {
    right: 0;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.mobile-nav li {
    list-style: none;
    text-align: center;
    width: 100%;
}

.mobile-nav li a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 24px;
    font-weight: 500;
    padding: 15px 0;
    transition: 0.3s;
    border-bottom: 1px solid var(--second-color);
}

.mobile-nav li a:hover {
    color: var(--accent);
}

.btn--share-mobile {
    padding: 12px 30px;
    background-color: var(--accent);
    border-radius: 30px;
    font-size: 20px;
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    margin-top: 20px;
}

/* Медиа-запросы для адаптива */
@media screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
    
    header {
        padding: 0 20px;
    }
    
    .menu li:nth-child(-n+3) {
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .burger {
        display: flex;
    }
    
    .menu {
        display: none;
    }
    
    .main--title {
        font-size: 48px;
        line-height: 60px;
    }
    
    .text--intro {
        font-size: 28px;
    }
    
    .block--about {
        flex-direction: column;
        text-align: center;
    }
    
    .item--works {
        flex-direction: column;
        gap: 20px;
    }
    
    .grid {
        grid-template-columns: 1fr;
    }
    
    form {
        width: 100%;
    }
    
    .wrap-inputs {
        flex-direction: column;
        gap: 20px;
    }
    
    .item-input {
        width: 100%;
    }
    
    .container--footer {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .main--title {
        font-size: 36px;
        line-height: 45px;
    }
    
    .text--intro {
        font-size: 22px;
    }
    
    .title {
        font-size: 32px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
    .intro {
        padding: 200px 0;
    }
    
    .text--about {
        font-size: 20px;
    }
    .text--about img {
        width: 70%;
    }
    .container--footer {
        flex-wrap: wrap;
    }
}